.App {
    font-family: sans-serif;
    text-align: center;
}

.music-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    margin-top: 2%;    
    list-style: none;
    grid-gap: 1.5rem;
}

.music-list img {
    max-width: 100%;
}