.App {
    font-family: sans-serif;
    text-align: center;
}

.music-list {
    display: grid;
        grid-template-columns: repeat(
            auto-fit, 
            minmax(200px, 1fr)
        );
    list-style: none;
    grid-gap: 1.5rem;
}

.music-list img {
    max-width: 100%;
}